body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #dbdbd2 85%, #009688 15%);
}

.contacts {
  background-color: white;
  min-width: 100px;
  min-height: 40rem;
  padding: 0;
}

.private-chat {
  background-image: url(./img/mine.jpg);
}

img {
  width: 3rem;
  border-radius: 50%;
}

.icon {
  color: rgb(177, 177, 177);
}

a {
  text-decoration: none;
  color: inherit;
}
nav:first-child {
  background-color: #eaeaea;
}
/* CONTAINER LEFT */

/* navbar */
.disclaimer {
  background-color: #8edafc;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 100%;
}
.disclaimer div span a {
  color: rgb(100, 100, 100);
  text-decoration: underline;
  font-size: 0.7rem;
}
.bell {
  background-color: white;
  font-size: 1rem;
  color: #8edafc;
  width: 3rem;
  height: 3rem;
}

.placeholder-text {
  font-size: 0.8rem;
}
.search-bar {
  background-color: #fafafa;
}
.search-bar :first-child {
  background-color: white;
}

/* contacts list */
ul {
  list-style: none;
  padding-left: 0;
  height: 25rem;
  overflow: auto;
}

ul span:last-child {
  color: rgb(197, 197, 197);
  font-size: 0.6rem;
}

li {
  border-top: solid thin #e9ebeb;
}

#active-contact {
  background-color: #e9ebeb;
}

/* CONTAINER RIGHT */
/* navbar */
#last-log {
  color: rgb(123, 123, 123);
  font-size: 0.6rem;
  line-height: 50%;
}
/* messaggi */
.sent-msg {
  background-color: #d5f9ba;
}
.received-msg {
  background-color: white;
}
.msg-time {
  font-size: 0.6rem;
}
/* footer */
footer {
  background-color: #f3eeea;
}
